<div class='inline'>
<h1><%= @store.name %></h1><p> Located at: </p><h1><%= @store.location %></h1>
</div>
<form class='form-inline' action="/store/update/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <button type="submit" class='btn-warning'>Update</button>
</form>
<form action="/store/delete/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class='btn-danger'>Delete</button>
</form>
